.darklight, .separator, .context-menu {
	-fx-background-color: #202020;
	-fx-text-fill: #CCCCCC;
}
.darklight .label {
	-fx-text-fill: #CCCCCC;
}
.lighthover:focused {
	-fx-background-color: #303030;
}
/*.lighthover:disabled {
	-fx-background-color: #202020;
}*/


.project-hierarchy {
	-fx-background-color: #202020;
}
.project-hierarchy .tree-cell {
	-fx-background-color: #202020;
	-fx-text-fill: #CCCCCC;
}
.project-hierarchy .tree-cell:filled:hover {
	-fx-background-color: #303030;
}
.project-hierarchy .tree-cell:filled:focused {
	-fx-background-color: #404040;
}


.item-inspector {
	-fx-background-color: #202020;
	-fx-padding: 10;
}
.item-inspector .separator {
	-fx-padding: 10, 0, 10, 0;
}

.text-field,
.choice-box, 
.list-add-button, 
.list-del-button,
.color-picker,
.color-palette,
.color-rect-pane {
	-fx-background-color: #202020;
	-fx-text-fill: #CCCCCC;
	-fx-border-color: #CCCCCC;
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
}
.text-field:hover, .choice-box:hover, .list-add-button:hover, .list-del-button:hover {
	-fx-background-color: #303030;
}
.text-field:focused, .choice-box:focused {
	-fx-background-color: #404040;
}
.inspector-ghost-text-field {
	-fx-border-color: #202020;
}
.inspector-ghost-text-field:hover, .item-inspector .inspector-ghost-text-field:focused {
	-fx-border-color: #CCCCCC;
}

.item-inspector .label {
	-fx-text-fill: #CCCCCC;
}
.item-inspector-list {
	-fx-alignment: center-right;
}

.list-add-button {
	-fx-alignment: top-center;
	-fx-padding: 0 0 0 0;
	-fx-pref-height: 18px;
    -fx-min-height: 18px;
    -fx-max-height: 18px;
	-fx-font-weight: bold;
}

.titled-pane {
	-fx-text-fill: #CCCCCC;
}
.titled-pane > *.content, .titled-pane > .title {
	-fx-background-color: #202020;
}
.titled-pane > .title {
	-fx-border-color: #CCCCCC;
	-fx-border-width: 1px;
	-fx-border-style: solid solid dashed solid;
	-fx-border-radius: 5px 5px 0 0;
}
.color-palette > * {
	-fx-text-fill: #CCCCCC;
}
